<h1>Listing developers from Africa</h1>
<p>count(<%= @directory['total_count'] %>)</p>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th colspan="3">Name</th>
    </tr>
  </thead>

  <tbody>
    <% @directory['items'].each do |user| %>
      <tr>
        <td><%= user['id'] %></td>
        <td><%= user['login'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>