<div class="large-12 columns">
  <div class="large-module">
    <div class="inner-module">
      <h1>Pages#contact</h1>
      <p>Find me in app/views/pages/contact.html.erb</p>
    </div>
  </div>
</div>
