/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 $highlight-color: #0084B4;
 $link-background: rgba(0, 0, 0, 0.025);

#top-nav {
  font-size: 16px;
  padding: 25px 0 0;
  margin-bottom: 15px;
  #inner-top-nav {
    padding: 5px 10px 3px;
  }
  a {
    height: 46px;
    &:active {
      font-style: bold;
    }
    &:focus,
    &:hover {
      border-bottom: 4px solid $highlight-color;
      transition: all .15s ease-in-out;
    }
  }
}

.sub-header {
  a {
    margin-right: 12px;
  }
  a:last-child {
    margin-right: 0;
  }
}

.side-nav {
  font-size: 16px;
  list-style: none;
  li {
    font-size: inherit;
    margin: 0;
    &:active {
      border-left: 4px solid lighten($highlight-color, 10%);
    }
    &:hover {
      border-left: 4px solid $highlight-color;
      transition: all .15s ease-in-out;
    }
    a {
      color: #000 !important;
      &:active {
        font-style: bold;
      }
      &:not(.button):hover,
      &:not(.button):focus {
        background: $link-background;
        color: black;
      }
    }
  }
}

.pagination {
  li:focus,
  li:hover {
    border-bottom: 1px solid $highlight-color;
  }
  .active {
     background: $link-background;
     border-bottom: 1px solid $highlight-color;
     a {
      color: black !important;
     }
   }
}

body {
  background-color: #e5e9ec;
}

#footer {
  padding-top: 20px;
  .inner-footer {
    padding: 20px 0 10px 0;
  }
}