<footer id="footer" class="row">
  <div class="large-12 columns">
    <div class="row inner-footer">
      <div class="large-12 large-centered columns text-center">
        <p>&copy; 2014 - African Dev Community.</p>
      </div>
    </div>
  </div>
</footer>