<footer id="footer" class="row small-data">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <span class="large-7 columns">
          <i class="fa fa-code fa-2x pull-left"></i>
          This <a href="https://github.com/nadjetey/afridevcmty" target="_blank">open sourced site</a> is hosted on <a href="https://www.heroku.com/home" target="_blank">Heroku</a>. <br />
          <a href="https://github.com/nadjetey/afridevcmty/issues/new" target="_blank">Patches, suggestions, and comments are welcome.</a>
        </span>

        <!-- <div class="large-5 columns">
          <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
          </ul>
        </div> -->
      </div>
    </div>
  </footer>