<nav id="top-nav" class="medium-centered">
  <div id="inner-top-nav">
    African Developer Community &mdash; <%= link_to 'afridevcmty', root_path %>
    <%= render 'layouts/navigation_links' %>
  </div>
</nav>